#fineprint {
	background-color: #e1ebc8;
	list-style-type: none;
	padding: 3px;
}

#fineprint li {
	padding: 0px;
	margin: 0px;
}

#taskdetailstext {

}

/* Comments */
#comments h4 {
	background-color: #dff5bc;
	color: #000000;
	padding: 2px;
	margin: 0px;
	font-weight: normal;
}

.comment {
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: #dff5bc;
	padding: 5px;
	margin: 0px 0px 5px 0px;
}