RewriteEngine on

RewriteRule ^.*\?do=admin&area=prefs$ index.php?do=admin&area=prefs [L]

RewriteRule ^([0-9]+)$ index.php?do=details&id=$1 [L]
RewriteRule ^task/([0-9]+)$ index.php?do=details&id=$1 [L]
RewriteRule ^task/([0-9]+)#comment([0-9]+)$ index.php?do=details&id=$1#comment$2 [L]
RewriteRule ^task/([0-9]+)/edit$ index.php?do=details&id=$1&edit=yep [L]

RewriteRule ^newtask$ index.php?do=newtask [L]
RewriteRule ^newtask/proj([0-9]+)$ index.php?do=newtask&project=$1 [L]

RewriteRule ^reports$ index.php?do=reports [L]
RewriteRule ^myprofile$ index.php?do=myprofile [L]
RewriteRule ^logout$ index.php?do=authenticate&action=logout [L]

RewriteRule ^admin/([a-zA-Z]+)$ index.php?do=admin&area=$1 [L]
RewriteRule ^pm/proj([0-9]+)/([a-zA-Z]+)$ index.php?do=pm&project=$1&area=$2 [L]

RewriteRule ^newgroup/proj([0-9]+)$ index.php?do=newgroup&project=$1 [L]
RewriteRule ^group/([0-9]+)$ index.php?do=admin&area=editgroup&id=$1 [L]
RewriteRule ^projgroup/([0-9]+)$ index.php?do=pm&area=editgroup&id=$1 [L]
RewriteRule ^user/([0-9]+)$ index.php?do=admin&area=users&id=$1 [L]
RewriteRule ^newuser$ index.php?do=newuser [L]
RewriteRule ^register$ index.php?do=register [L]

RewriteRule ^error$ index.php?do=error [L]