RewriteEngine on

RewriteRule ^task/([0-9]+)$ index.php?do=details&id=$1 [L]
RewriteRule ^task/([0-9]+)#comment([0-9]+)$ index.php?do=details&id=$1#comment$2
RewriteRule ^task/([0-9]+)/edit$ index.php?do=details&id=$1&edit=yep

RewriteRule ^newtask$ index.php?do=newtask
RewriteRule ^newtask/proj([0-9]+)$ index.php?do=newtask&project=$1

RewriteRule ^reports$ index.php?do=reports
RewriteRule ^myprofile$ index.php?do=myprofile

RewriteRule ^admin/([a-zA-Z]+)$ index.php?do=admin&area=$1 [L]
RewriteRule ^admin/users/([0-9]+)$ index.php?do=admin&area=users&id=$1 [L]
RewriteRule ^admin/editgroup/([0-9]+)$ index.php?do=admin&area=editgroup&id=$1 [L]

RewriteRule ^pm/proj([0-9]+)/([a-zA-Z]+)$ index.php?do=pm&project=$1&area=$2 [L]
RewriteRule ^pm/users/([0-9]+)$ index.php?do=pm&area=users&id=$1 [L]
RewriteRule ^pm/editgroup/([0-9]+)$ index.php?do=pm&area=editgroup&id=$1 [L]