#############################################################################
##### Flyspray .htaccess Config. To be used with Apache Server ###
##### Check for Mod-Rewrite module ############################################
#### rename this file to .htaccess to use these features
###############################################################################

AddDefaultCharset utf-8

# php5 as  apache 1/2 module
<IfModule mod_php5.c>
php_flag register_globals Off
php_flag magic_quotes_gpc Off
php_flag session.use_trans_sid 0
php_flag short_open_tag off
php_flag register_argc_argv Off
#no Pierre, not for now, flyspray has it's own filters.
php_value filter.default "unsafe_raw"
</IfModule>

# php4 as **apache 1** module
<IfModule mod_php4.c>
php_flag register_globals Off
php_flag magic_quotes_gpc Off
php_flag session.use_trans_sid 0
php_flag short_open_tag off
php_flag register_argc_argv Off
php_value filter.default "unsafe_raw"
</IfModule>

#php4 as **apache 2** module

<IfModule sapi_apache2.c>
php_flag register_globals Off
php_flag magic_quotes_gpc Off
php_flag session.use_trans_sid 0
php_flag short_open_tag off
php_flag register_argc_argv Off
php_value filter.default "unsafe_raw"
</IfModule>

# We only use POST GET and HEAD (implicit)
<LimitExcept POST GET>
	Deny From All
</LimitExcept>

<IfModule mod_rewrite.c>
RewriteEngine on
#RewriteBase /flyspray

RewriteRule ^([0-9]+)$ index.php?do=details&task_id=$1 [L,QSA]
RewriteRule ^task/([0-9]+)$ index.php?do=details&task_id=$1 [L,QSA]
RewriteRule ^details/task([0-9]+)$ index.php?do=details&task_id=$1 [L,QSA]

RewriteRule ^depends/task([0-9]+)$ index.php?do=depends&task_id=$1 [L,QSA]

RewriteRule ^myprofile/?$ index.php?do=myprofile [L,QSA]
RewriteRule ^user/([0-9]+)$ index.php?do=user&id=$1 [L,QSA]
RewriteRule ^logout$ index.php?do=authenticate&logout=1 [L,QSA]

RewriteRule ^admin/([a-zA-Z]+)$ index.php?do=admin&area=$1 [L,QSA]
RewriteRule ^admin/proj0/([a-zA-Z]+)$ index.php?do=admin&area=$1 [L,QSA]
RewriteRule ^pm/proj([0-9]+)/([a-zA-Z]+)$ index.php?do=pm&project=$1&area=$2 [L,QSA]

RewriteRule ^myprofile/([a-zA-Z]+)$ index.php?do=myprofile&area=$1 [L,QSA]
RewriteRule ^register$ index.php?do=register [L,QSA]
RewriteRule ^lostpw$ index.php?do=lostpw [L,QSA]

RewriteRule ^([a-zA-Z]+)$ index.php?do=$1 [L,QSA]
RewriteRule ^([a-zA-Z]+)/proj([0-9]+)$ index.php?do=$1&project=$2 [L,QSA]

RewriteRule ^proj([0-9]+)$ index.php?project=$1 [L,QSA]

</IfModule>