a {
	text-decoration:none;
}

a:link {
	color:#fff1cf;
	background-color: transparent;
	font-weight: bold;
}

a:visited {
	color:#fff1cf;
	background-color: transparent;
	font-weight: bold;
}

a:hover {
	color:#fff1cf;
	background-color: transparent;
	text-decoration:underline;
}

body {
	background-color:#F5F9FD;
	background-image:url(page-bg.png);
	background-repeat: repeat;
	color:#000000;
	text-align:left;
}

#pageborder {
	margin-top: 10px;
	border:2px #e6eef6;
	padding:20px;
	top:110px;
	background-color: #f8b759;
	background-image:url(page-fg.png);
	background-repeat: repeat;
	border-style:solid;
	width: 93%;
	text-align:middle;
}

#title {

}

.subheading {
	color:#000000;
	background-color: transparent;
	font: 16px Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

table.main {
	border:1px #cccccc;
	padding:0px;
	background-image:url(page-bg.png);
	background-repeat: repeat;
	background-color:#f8b759;
	border-style:solid;
	border-width:1px;
	max-width: 99%;
}

td.maintext {
	border:1px #cccccc;
	border-style: none none solid none;
}

input.maintext {
	background-color: #f8b759;
	color:#ffffff;
	border: 1px #000000;
	border-style: ridge;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px;
}

.mainlist {
	background-color: #f8b759;
	color:#000000;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px;
}

.mainbutton {
	background-color:#f8b759;
	color:#ffffff;
	background-image:url(button.png);
	background-repeat: repeat-x;
	border-style: ridge;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

.maintitle {
	background-color:transparent;
	color:#000000;
	font: 14px Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.mainlabel {
	background-color:transparent;
	color:#000000;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.maintext {
	font: 11px Verdana, Helvetica, sans-serif;
}

table.admin {
	border:1px #cccccc;
	padding:0px;
	background-image:url(page-bg.png);
	background-repeat: repeat;
	background-color:#f8b759;
	border-style:solid;
	border-width:1px;
	max-width: 99%;
}

input.admintext {
	background-color: #f8b759;
	color:#ffffff;
	border: 1px #000000;
	border-style: ridge;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight: bold;
}

textarea.admintext {
	background-color: #f8b759;
	color:#ffffff;
	border: 1px #000000;
	border-style: ridge;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight: bold;
	padding: 2px;
}

.adminlist {
	background-color: #f8b759;
	color:#ffffff;
	font: 11px Verdana, Helvetica, sans-serif;
}

.adminbutton {
	background-color:#f8b759;
	color:#ffffff;
	background-image:url(button.png);
	background-repeat: repeat-x;
	border-style: ridge;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight: bold;

}

.admintitle {
	background-color:transparent;
	color:#000000;
	font: 14px Verdana, Helvetica, sans-serif;
	font-weight:bold;
}

.adminlabel {
	background-color:transparent;
	color:#000000;
	font: 11px Verdana, Helvetica, sans-serif;
	font-weight:bold;
	text-align: right;
}

.admintext {
	background-color:transparent;
	color:#000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.adminmenu {
	background-color:transparent;
	color:#000000;
	font: 14px Verdana, Helvetica, sans-serif;
}

.tabnotactive {
	padding:0px;
	background-image:url(button.png);
	background-repeat: repeat;
	background-color:#f8b759;
	border: 1px #93989d;
	border-style: none solid none none;
	height: 25px;
}

.tabactive {
	padding:0px;
	background-image:url(page-bg.png);
	background-repeat: repeat;
	background-color:#f8b759;
	border: 2px #cccccc;
	border-style: none solid none none;
	height: 25px;
}

.tabarea {
	border:1px #cccccc;
	padding:0px;
	background-image:url(page-bg.png);
	background-repeat: repeat;
	background-color:#f8b759;
	border-style:solid;
	border-width:1px;
	min-height: 200px;
	max-width: 99%;
}

.fineprint {
	background-color:transparent;
	color:#000000;
	font: 9px Verdana, Helvetica, sans-serif;
}

.severity1 {
    background-image:url(page-bg.png);
	background-color: #f8b759;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity1_over {
	background-image:url(page-fg.png);
	background-color: #f5f9fd;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity2 {
    background-image:url(page-bg.png);
	background-color: #f8b759;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity2_over {
	background-image:url(page-fg.png);
	background-color: #f5f9fd;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity3 {
    background-image:url(page-bg.png);
	background-color: #f8b759;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity3_over {
	background-image:url(page-fg.png);
	background-color: #f5f9fd;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity4 {
    background-image:url(page-bg.png);
	background-color: #f8b759;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity4_over {
	background-image:url(page-fg.png);
	background-color: #f5f9fd;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity5 {
    background-image:url(page-bg.png);
	background-color: #f8b759;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}

.severity5_over {
	background-image:url(page-fg.png);
	background-color: #f5f9fd;
	color: #000000;
	font: 11px Verdana, Helvetica, sans-serif;
}
