@media screen {

html {
  margin              : 0px;
  padding             : 0px;
}

body {
  margin              : 0px;
  padding             : 0px;
  font-size           : 1em;
  font-family         : Arial, sans-serif;
}

h1 {
  text-align           : center;
  font-size            : 150%;
}

/* the main title; h1 alone is also used in the popup windows. */
h1#title {
  text-align           : left;
  margin               : 0px;
  padding              : 1ex 0px 1ex 80px;
  background-color     : #47617b;
  border               : 3px double white;
  color                : white;
  background-image     : url("title.png");
  background-position  : top left;
  background-repeat    : no-repeat;
}

h2 {  /* Heading for link to task list and details */
  margin               : 0px;
  padding              : 0px;
  font-size            : 150%;
}

h3 {  /* heading for sections (especially the lists: user&groups, ...) */
  font-size           : 120%;
  margin              : 0px;
  padding             : 0px;
}

h4 {  /* used for the list headings in Flyspay's options */
  font-size           : 100%;
  margin              : 1em 0px 0px 0px;
  padding             : 0px;
}

h4+p, form p {
  margin              : 0px;
  padding             : 0px;
}

p {
  margin              : 1ex 0px;
  padding             : 0.5ex 0.5em;
}

form {
  margin              : 0px;
  padding             : 0px;
  display             : inline;
}

td {
  vertical-align      : top;
}

th {
  vertical-align      : top;
}


/* labels are used nearly in every form */
label {
  font-family         : serif;
}

/* div.admin and p.admin is used for areas that only administrators can use
   p.admin for instance for adding comments
   table.admin serves the same purpose */
/* table.login is the framework for the login form at the bottom of a page */
/* table.userlist is found in the user&groups section */
div.admin, p.admin, table.admin, table.login, table.userlist {
  border              : 1px solid #ccc;
  margin              : 1em 0px;
  padding             : 0px;
}

/* The paragraph containing the main menu */
p#menu {
  border              : 1px solid #ccc;
  margin              : 1em 0px;
  padding             : 0px 1ex;
  text-align          : right;
}

p#menu span#adminmenu {
  display             : block;
}

p#menu em {
  float               : left;
}

table.userlist td, table.userlist th {
  border              : 1px solid #CCC;
}

table.login {
  width               : 80%;
  margin-left         : auto;
  margin-right        : auto;
}

/* table.head is the table containing the task-list-link and the
   search-bug-number form */
table.head {
  width               : 100%;
}

img {
  border              : none;
}

/* used in p#menu for the login information. The rest is really just
   emphasized text */
em {
  font-style          : normal;
  font-weight         : bold;
}

a {
  text-decoration     : none;
}

a:hover {
  text-decoration     : underline;
}

/* The paragraph containing the search form */
p#search {
  margin-bottom       : 1em;
  border              : 1px solid #CCC;
}

/* The table listing taskson the main page */
table#tasklist {
  width               : 100%;
}

table#tasklist td {
  padding             : 2px 1ex 2px 2px;
}

table#tasklist td.taskid, table#tasklist th.taskid {
  text-align          : center;
  padding             : 2px 1ex;
}

table#tasklist td.taskdate {
  text-align          : center;
  white-space         : nowrap;
}

table#tasklist td.progress {
  vertical-align      : middle;
  text-align          : center;
}

table#tasklist tfoot td {
  text-align          : center;
  background-color    : white;
  padding             : 1em 0px;
  border              : none;
}

/* table.list is any table holding lists like resolutions, ... */
table.list th, table.list td {
  padding-right       :  2em;
}

table.list label, p#showtask label, p.admin label, form#formaddrelatedtask label {
  display : inline;
}

/* Area containing all details to a given task */
div#taskdetails {
  border              : 1px solid #ccc;
  margin-bottom       : 2em;
}

div#taskdetails h2 {
  font-size           : 100%;
  padding             : 0.3ex 1ex;
  font-weight         : normal;
}

/* form#edittask is only used for the button that allows editing of
   a task. It is displayed on the details page */
div#taskdetails form#formedittask {
  display             : block;
  width               : 20%;
  float : right;
}

/* Task details are listed within a table */
div#taskdetails table {
  margin : auto;
}

div#taskdetails table th {
  text-align          : left;
  padding-left        : 3em;
  font-weight         : bold;
}

/* dic#content is a generic container for anything but the title and
   the footer paragraph */
div#content {
  padding              : 1em;
}

/* Powered by Flyspray */
p#footer {
  background-color     : #47617b;
  border               : 3px double white;
  color                : white;
  margin               : 2em 0px;
  text-align           : center;
}
p#footer * {
  color                : white;
}


/* The acknowledgement/refusal of login information is displayed in
   div#loginmessage */
div#loginmessage {
  text-align          : center;
  padding             : 1ex;
}

div#loginmessage h1 {
  margin              : 0px 0px 1em 0px;
}

/* div.redirectmessage is used in modify.php when you change things and are redirected
   to the index or details page */
div.redirectmessage {
  border              : 1px solid #CCC;
  background-color    : #e6eef6;
  padding             : 1ex;
  text-align          : center;
}


form#registernewuser strong, form#newgroup strong {
  color               : red;
}

p#tabs {
  margin              : 0px;
  padding             : 0px;
}

div.tabentries {
  margin              : 0px 0px 1em 0px;
  border              : 1px solid #CCC;
  min-height          : 5em;
}

.tabentry {
  margin              : 2px 1em;
  border-bottom       : 1px dashed #ccc;
}

/* This is the division that keeps the buttons to modify comments
   (delete, edit) */
div.modifycomment {
  float: right;
  width : 20em;
  text-align : right;
}

div.modifycomment p {
  display : inline;
  margin  : 0px;
  padding : 0px;
}

/* The tabs containing the links to comments, attachments, ...
   in details.php */
p#tabs a {
  margin              : 2px 0px;
  padding             : 0px 1em;
  white-space         : nowrap;
}

/* separators between the links in the tabs */


p#tabs a.tabactive {
  font-weight         : bold;
  background-color    : #CCC;
}

/* Some generic classes; severity classes are used for colour
   indication of severities. severityx_over classes are used
   for hover effects (JavaScript) */
.severity1 {
  background-color     : #fff5dd;
  color                : #000000;
}

.severity1_over {
  background-color     : #ffe9b4;
  color                : #000000;
}

.severity2 {
  background-color     : #ecdbb7;
  color                : #000000;
}

.severity2_over {
  background-color     : #efca80;
  color                : #000000;
}

.severity3 {
  background-color     : #ecd0b7;
  color                : #000000;
}

.severity3_over {
  background-color     : #edb98a;
  color                : #000000;
}

.severity4 {
  background-color     : #ffd5d1;
  color                : #000000;
}

.severity4_over {
  background-color     : #ffb2ac;
  color                : #000000;
}

.severity5 {
  background-color     : #f3a29b;
  color                : #000000;
}

.severity5_over {
  background-color: #f3867e;
  color: #000000;
}

/* .fineprint is merely used for the details about when a task has
   been created and changed (in the details pages) */
.fineprint {
  font-size            : smaller;
}

}


@media print {
p#menu {
  display              : none;
}


}

